body {
	background-color: #ba8212;
	background-image: url(./brushed-alum.png);
}

h1 {
	font-family:"Palatino Linotype";
	font-size:36pt;
	text-decoration:underline;
	
}

p {
	text-align:center;
	font-size:24pt;
	color:#FEE0C6;
}

p span {
	font-weight:bold;
	font-style:italic;
}


