body {
	background-color: #f7f7f7;
	background-image: url(http://www.transparenttextures.com/theme/images/patterns/brushed-alum.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */;

}

#name {
	font-family: "Palatino Linotype";
	font-size: 36pt;
	font-style: italic;
	text-align: center;
	margin-top: 30px;
	padding-bottom:5px;
}

p {
	font-family: "Palatino Linotype";
	font-size: 34pt;
	text-align:right;
}
a {text-decoration: none;
}
a:link{
	color:black;
}
a:hover{
	color:white;
}
a:visited {
	color:purple;
}

img.calvin {
	margin-right:0px;
	width: 600px;
}


