
body {
	background-image: url("green_cup.png");

}


#name {
	font-family: "Palatino Linotype";
	font-size: 32pt;
	font-style: italic;
	text-align: center;
	margin-top: 20px;
	padding-bottom:10px;
}

p {
	display: inline;
	font-family: "Palatino Linotype";
	font-size: 20pt;
}


#center {
	text-align: center;
}
